<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>

<div class="row">
  <div class="col-md-12">
    <%= form_with(model: user, local: true, method: :patch) do |f| %>
      <%= render 'shared/error_messages', object: user %>

      <%= f.label :name, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :email, class: "form-control" %>

      <%= f.label :department, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :department, class: "form-control" %>

      <%= f.label :employee_number, class: "label-#{yield(:class_text)}" %>
      <%= f.number_field :employee_number, class: "form-control" %>

      <%= f.label :uid, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :uid, class: "form-control" %>

      <%= f.label :password, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :password, class: "form-control" %>

      <%= f.label :basic_work_time, class: "label-#{yield(:class_text)}" %>
      <%= f.time_field :basic_work_time, class: "form-control" %>

      <%= f.label :designated_work_start_time, class: "label-#{yield(:class_text)}" %>
      <%= f.time_field :designated_work_start_time, class: "form-control" %>

      <%= f.label :designated_work_end_time, class: "label-#{yield(:class_text)}" %>
      <%= f.time_field :designated_work_end_time, class: "form-control" %>

      <div class="center">
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
      </div>
    <% end %>
  </div>
</div>