<% provide(:title, 'All Users') %>

<% if params[:search].blank? %>
  <h1>全てのユーザー</h1>
<% else %>
  <h1>検索結果</h1>
<% end %>

<div class="row container">
  <divclass="col-md-10 col-md-offset-7", id="search-form">
    <h5>ユーザー名検索</h5>
    <%= form_with url: users_path, method: :get, local: true do |f| %>
      <%= f.text_field :search, placeholder: 'キーワードを入力...' %>
      <%= f.submit '検索', name: nil, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="col-md-12 all_users">
  <%= will_paginate %>
  
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>