<% provide(:title, 'All Bases') %>
<% provide(:class_text, 'addition') %>
<% provide(:button_text, '追加') %>

<h1>拠点一覧</h1>

<div class="col-md-12">
  <table class="table table-bordered table-hover table-base">
    <tr>
      <td></td>
      <td></td>
      <td>拠点番号</td>
      <td>拠点名</td>
      <td>勤怠種類</td>
    </tr>
    <% @bases.each do |base| %>
      <tr>
        <td></td>
        <td>
          <%= link_to "削除", base, method: :delete, 
              data: { confirm: "削除してよろしいですか？" }, 
              class: "btn btn-primary" %>
        </td>
        <td><%= base.baseid %></td>
        <td><%= base.basename %></td>
        <td><%= base.basetype %></td>
      </tr>
    <% end %>
  </table>

  <div>
    <%= link_to "拠点情報追加", new_basis_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>