<% provide(:title, 'edit-overwork-notice') %>

<div class="modal-dialog modal-lg modal-dialog-cernter">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">✕</span>
      </button>
    </div>
    <div class="modal-body">
      <%= form_with(model: @user, url: update_overwork_notice_user_attendance_path(@user), local: true, method: :patch) do |f| %>
        <% @overwork_attendances.each do |id, attendances| %>
          <h1 class="modal-title">【<%= User.find(id).name %>からの残業申請】</h1>
          <table class="tabla table-bordered table-condensed table-hover" id="table-attendances">
            <thead>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>指定終了予定時間</th>
                <th>時間外時間</th>
                <th>業務処理内容</th>
                <th>指示者確認㊞</th>
                <th>変更</th>
                <th>勤怠を確認する</th>
              </tr>
            </thead>
            <tbody>
              <% attendances.each do |day| %>
                <%= f.fields_for "attendances[]", day do |attendance| %>
                  <tr>
                    <td><%= l(day.worked_on, format: :short) %></td>
                    <td><%= $days_of_the_week[day.worked_on.wday] %></td>
                    <td><%= l(day.overwork_end_time, format: :time) if day.overwork_end_time? %></td>
                    <td><%= l(User.find(id).designated_work_end_time, format: :time) %></td>
                    <td>
                      <% if day.overwork_end_time.present? %>
                        <%= working_overwork_times(User.find(id).designated_work_end_time, day.overwork_end_time, day.overwork_next_day) %>
                      <% end %>
                    </td>
                    <td><%= day.process_content %></td>
                    <td><%= attendance.select :overwork_status, [["なし","なし"], ["申請中","申請中"], ["承認","承認"],["否認","否認"]], class: "form-control" %></td>
                    <td><%= attendance.check_box :is_check, {}, true, false %></td>
                    <td><%= link_to "確認", user_path(id, date: day.worked_on.beginning_of_month), target: :_blank, rel: "noopener noreferrer", class: "btn btn-primary" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <div class="center">
            <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>